**/gen/
**/edmx/
*.db
*.sqlite
*.sqlite-wal
*.sqlite-shm
# schema*.sql
default-env.json

**/bin/
**/target/
.flattened-pom.xml
.classpath
.project
.settings

**/node/
**/node_modules/

**/.mta/
*.mtar

*.log*
gc_history*
hs_err*
*.tgz
*.iml

.vscode
.idea
.reloadtrigger
package-lock.json
.DS_Store
**/dist/**
apps/gebit-app/tsconfig.tsbuildinfo
apps/**/webapp/Component.js
srv/src/main/resources/static
docker/db/schema-prod.sql
srv/src/main/resources/db/changelog/dev/schema.sql
srv/.dbeaver/credentials-config.json
srv/.dbeaver/data-sources.json
srv/.dbeaver/project-settings.json
